@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&family=Roboto+Condensed:wght@300&display=swap');

@media only screen and (max-width: 670px) {

    header h1 {
        font-size: 24px;
    }
}

h1 {
    font-size: 2rem;
}

body {
    background: rgb(122,53,22);
    background: radial-gradient(circle, rgba(122,53,22,1) 6%, rgba(255,84,24,1) 100%);
    padding: 24px 128px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper {
    padding: 24px;
    background: rgb(255,255,255);
    background: linear-gradient(138deg, rgba(255,255,255,1) 0%, rgba(209,221,255,1) 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    font-family: 'Poppins', 'Roboto Condensed', sans-serif;
    border-radius: 10px;
    box-shadow: 4px 4px 7px black;
}

html {
    height: 100%;
}

header {
    background-color: #f86300;
    padding: 18px;
    border-radius: 10px;
    box-shadow: 1px 1px 5px rgb(182, 103, 38);
    color: white;
}

.content {
    display: flex;
    height: 60vh;
    flex-direction: column;
    justify-content: center;
}

.card-container {
    display: flex;
    gap: 24px;
}

.card {
    padding: 18px;
    border: 3px solid #ff8410;
    border-radius: 10px;
    transition: all 0.2s;
    user-select: none;
    color:rgb(70, 70, 70);
}

#playerChoice .card:hover {
    box-shadow: 1px 1px 10px rgb(247, 103, 103);
    background-color:#ffcc6e;
    background-color:rgb(255, 221, 158);
    border-color: rgb(255, 151, 65);
    color: black;
    transform: scale(1.1);
    cursor: pointer;
}

.notification {
    padding-top: 30%;
    color: rgb(73, 73, 73);
    text-align: center;
    font-weight: bold;
}

footer {
    flex-shrink: 0;
}

